<!-- Vue component -->
<template>
  <div>
  <label class="typo__label">Simple select / dropdown</label>
  <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
    <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
  </multiselect>
  

  <table class="table table-bordered">
    <tr v-for="v in value">
      <th>{{v.name}}</th>
    </tr>
  </table>

  <button @click="submit">Submit</button>
</div>
</template>

<script>

export default {
  props :['group_id'],
  // components: {
  //   Multiselect
  // },
  data () {
    return {
      value: [],
      options: [
    
      ]
    }
  },
  created(){
    console.log(this.group_id)
    var self = this;
    axios.get("http://cbm.test:8080/api/getallusers").then((response) => {
      console.log(response.data)

      response.data.forEach(function(user){
        var temp = {"name" : user.email,"user_id":user.id}
        self.options.push(temp);
      });
      
    })
  },
  methods : {
    submit()
    {
      console.log(this.value)
      console.log(this.group_id)
      axios.post("http://cbm.test:8080/api/addusersingroup",{users:this.value,group_id:this.group_id}).then((response) => {
           console.log(response)
           if(response.status == 200)
           {
              window.location.href = "http://cbm.test:8080/groups"; 
           }
      })      
    }
  }
}

</script>

<!-- New step!
     Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
