<template>
<div class="container">   
  <br /> 
    <div class="row">
      <table class="table">
        <tr>
          <th>Parameter</th>
          <th>Inspection time</th>
          <th>Action</th>
        </tr>
        <tr v-for="(row,index) in rows"  v-bind:key="index">
        <td width="100%">
          <v-select  v-model="rows[index]['parameter']" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" >
          </v-select>                
        </td>
        <td width="50%">
          <input width="50%" type="text" class="form-control" v-model="rows[index]['inspection_time']">
        </td>      
        <td>
          <div v-if="index==0">
             <button style="height: 35px; border: 1px solid green ; padding: 0px 10px 5px 10px;" class="btn btn-success" @click="addRow"><h3 style="color: white ">+</h3></button>
          </div>
          <div v-else>
             <button style="color: white; height: 35px; border: 1px solid red ; padding: 0px 10px 5px 10px;" class="btn btn-danger" @click="removeRow(index)"><h3 style="color: white ;">-</h3></button>
          </div>
        </td>

        </tr>
           <button  id="myBtn"  style=" margin-left: 12px; background-color: #272d47; color: white" class="btn btn" @click="submit">    Submit
           </button>          
      </table>
    </div>
</div>
</template>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style type="text/css">

@media (max-width: 400px)
{ 
  .dabba-margin{
    margin-top: 286px;
  }
}
@media (min-width: 765px) and (max-width: 991px) 
{
  .adjust-height{
    height: 336px ;
  }
}
@media (min-width: 992px) and (max-width: 1115px) 
{
  .adjust-height{
   
    height: 450px ;
  }
}
@media (min-width: 1116px) and (max-width: 1999px) 
{
  .adjust-height{
    height: 475px ;
  }
}
@media (min-width: 1200px) and (max-width: 1330px) 
{
  .adjust-height{
    height: 545px ;
  }
}
@media (min-width: 1331px) and (max-width: 1920px) 
{
  .adjust-height{
    height: 540px ;
  }
}

@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
  
</style>

<script>

export default {
  props: ['inspection_point_id','route_id'],

  mounted() {
    var self=this; 
    this.parameter_array =[];

    axios.get(this.base_address+"showinspectionpointparam",{params: { data: this.inspection_point_id} }).then((response) => {

      if(response.data.length!=0)
      {
        self.rows=[];
      }
      var temp = response.data;
        
      temp.forEach(function(data,key)
       {  var temp_arr={};

          var time=data['inspection_time_min'];
          var param=data['parameter_id'];

          temp_arr={'parameter':param,'inspection_time':time};
          // console.log(temp_arr)

          self.rows.push(temp_arr)
       })
    })


    var i_id= this.inspection_point_id;
    //api to get instrument id
    axios.get(this.base_address+"inspectionpointinstrument", {params: { data: i_id} }).then((response) => {
      //console.log(response.data)
      self.instrument_id = response.data;
    })


    axios.get(this.base_address+"getParameters").then((response) => {
      var temp = response.data;
      temp.forEach(function(data){
        if (data['instrument_id']==self.instrument_id)
        { 
          self.parameter_array.push(data);
        }      
      });
    })
  },

  data: function() {
    return {

      value:'',
      parameter:[],
      parameter_array: [],
      selected_parameter_id:[],
      time:'',

      base_address:'http://pepsi.uptimepk.com/api/',  
      // base_address:'http://dev.uptimepk.com/api/',
      // base_address:'http://cbm.test:8080/api/',

      rows: [{'parameter':'','inspection_time':''}],

      parameter:'',
      parameter_array: [],
      option:'',
      hourly_selection:'',
      daily_selection:'',
      monthly_selection:'',
      yearly_selection:'',
      selection:'',
      paramID:[1,2],

      instrument_id:'',
    }
  },     
  methods: {    
    addRow()
    {
      var temp = {'parameter':'','inspection_time':''};
      this.rows.push(temp);
    },
    removeRow(index)
    {
      this.rows.splice(index, 1);
    },
    submit()
    { 
      var csrf_token = $('meta[name="csrf-token"]').attr('content');
      var data = {'data':this.rows,'inspection_point_id':this.inspection_point_id,'instrument_id':this.instrument_id ,'route_id':this.route_id ,'token': csrf_token} 
      axios.post(this.base_address+"paraminpectionpointstore",data)
      .then(res => {

      })
      // window.location.href="http://cbm.test:8080/showinspectionperemeter/"+this.inspection_point_id;
       // window.location.href="http://dev.uptimepk.com/showinspectionperemeter/"+this.inspection_point_id;
       window.location.href="http://pepsi.uptimepk.com/showinspectionperemeter/"+this.inspection_point_id;
    },
    parameterIdToName(id)
    {
        var result;
        this.parameter_array.forEach(function(parameter){
            if(parameter.id == id)
            {
                result = parameter.name;
            }
        });
        return result;
    },
  },        
}

</script>
