<template>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="display: none" scope="col">Id</th>
                        <th scope="col">Inspection Point</th>
                        <th style="display: none" scope="col">order_no</th>
                        <th scope="col">Wrench time</th>
                    </tr>
                </thead>
                <draggable v-model="inspection_array" tag="tbody">
                    <tr v-for="item in inspection_array" :key="item.name">
                        <td style="display: none" scope="row">{{ item.id }}</td>
                        <td>{{ instrumentIdToName(item.instrument_id) }}</td>
                        <td style="display: none">{{ item.order_no }}</td>
                        <td>{{ item.wrench_time }}</td>
                    </tr>
                </draggable>
            </table>
            <button class="btn btn-secondary" @click="order">Reorder</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['route_id'],
        mounted() {
            var self = this;
            axios.get(this.base_address+"phonedbinspectionpoints").then((response) =>
            {
                var temp = response.data;
                temp.forEach(function(data){
                    if (data['route_id']==self.route_id)
                    { 
                        self.inspection_array.push(data);
                    }      
                });

                this.inspection_array.sort(function(a, b) {
                    return a['order_no'] - b['order_no'];
                })
            })
            axios.get(this.base_address+"phonedbinstrumentlist").then((response) =>
            {
                this.instrument_array = response.data;
            })

        },
        data: function() {
            return {
                // base_address:'http://dev.uptimepk.com/api/',
                // base_address:'http://cbm.test:8080/api/',
                base_address:'http://pepsi.uptimepk.com/api/',
                inspection_array:[],
                instrument_array:[],
                dragging: false
            }
        },
        methods : {
            order() 
            {
                var self = this;
                this.inspection_array.forEach(function(row,key){
                   self.inspection_array[key]['order_no'] = key+1; 
                });
                var csrf_token = $('meta[name="csrf-token"]').attr('content');
                var data = {'route_id':this.route_id,'inspection_points':this.inspection_array , 'token': csrf_token} 
                axios.post(this.base_address+"updateinspectionpointorder",data)
                  .then(res => {
                })

                // window.location.href="http://cbm.test:8080/showinspectionpoint/"+this.route_id;
                window.location.href="http://pepsi.uptimepk.com/showinspectionpoint/"+this.route_id;
            },
            instrumentIdToName(id)
            {
                var result;
                this.instrument_array.forEach(function(instrument){
                    if(instrument.id == id)
                    {
                        result = instrument.name;
                    }
                });
                return result;
            }
        }
    }
</script>
