<template>  
  <div class="container"> 
     <div class="row">
      <table class="table">
        <tr>
          <th>Unit</th>
          <th>Department</th>
          <th>Line</th>
          <th>Asset</th>
          <th>Instrument</th>
          <th>Parameter</th>        
        </tr>
        <tr v-for="(row,index) in rows"  v-bind:key="index">
          <td>
             <v-select :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
            </v-select>
          </td>
          <td>
             <v-select :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
            </v-select>
          </td>
          <td>
             <v-select  :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
            </v-select>
          </td>
          <td>
             <v-select :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
            </v-select>
          </td>          
          <td>
              <v-select :options="instrument_array" :reduce="instrument_array => instrument_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
            </v-select>
          </td>
          <td>
             <v-select value.sync="parameter_id" v-model="parameter_id" :value="row.parameter" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" @input="parameter => paramSelected(row, parameter)">
            </v-select> 
            <input type="hidden" name="parameter_id" v-model="parameter_id" required="required">  
          </td>         
        </tr> 
      </table>
        <div class="col-md-6">
          <div v-if="selected_param_data_type == 'Bool'"> 
            <label>Select Set Point</label>
            <select class="form-control" style="width: 100%" name="setpoint" required>
              <option value="1">True</option>
              <option value="0">False</option>
            </select>
            <br />
          </div>
          <div v-if="selected_param_data_type != 'Bool' && selected_param_data_type != ''"> 
            <label>Select Set Point</label>
            <input class="form-control" type="number" step="any"  name="setpoint" required>
            <br />
          </div>
        </div>        
        <div class="col-md-6">
          <div  v-if="selected_param_data_type " class="form-group">
            <div v-if="selected_param_data_type == 'Bool'">
              <label>Select Condition</label>
              <select class="form-control" style="width: 100%" name="condition" required>
                <option value="equal">Equal</option>
              </select>
            </div>
            <div v-else>
              <label>Select Condition</label>
              <select class="form-control" style="width: 100%" name="condition" required>
                <option value="greater">Greater</option>
                <option value="equal">Equal</option>
                <option value="less">Less</option>
              </select>
            </div>            
          </div>
        </div>  
    </div>
  </div>  
</template>

<script>


export default {

  mounted() {

    var self=this; 
    axios.get(this.base_address+"getunits").then((response) => {
      var temp = response.data;
      temp.forEach(function(data){
        self.unit_array.push(data);
      });
    })

  },

  data: function() {
    return {

      parameter_id:'',
      value:'',
      selectedDept: [],
      inst: [],
      unit_array:[],
      department_array: [],
      line_array: [],
      asset_array: [],
      parameter:[],
      instrument_array: [],
      parameter_array: [],
      selected_param_data_type:'',

      // base_address:'http://cbm.127.0.0.1.xip.io:8080/api/',
      base_address:'http://pepsi.uptimepk.com/api/',


      rows: [{'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':''},],
    }
  },     
  methods: {    
    ///---------------------------------\\\   
          getDepartments(id)
          { 
            var self= this;
            this.department_array=[];
            axios.get(this.base_address+"getdepartment").then((response) => {
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['unit_id']==id)
                {
                  self.department_array.push(data);
                }
                 
              });
            })
          }, 
          getLines(id)
          { 
            var self= this;
            this.line_array=[];
            axios.get(this.base_address+"getline").then((response) => {
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['department_id']==id)
                {
                  self.line_array.push(data);
                }
                 
              });
            })
          }, 
           
          getAssets(id)
          { 
            var self= this;
            this.asset_array=[];
            axios.get(this.base_address+"getasset").then((response) => {
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['line_id']==id)
                {
                  self.asset_array.push(data);
                }
                 
              });
            })
          },                 
          getInstruments(id)
          { 
            var self= this;
            this.instrument_array=[];
            axios.get(this.base_address+"getInstruments").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['asset_id']==id)
                {
                  self.instrument_array.push(data);
                }
                 
              });
            })
          },
          getParameters(id)
          { 
            this.parameter_array =[];
            var self= this;
            axios.get(this.base_address+"getParameters").then((response) => {
              var temp = response.data;
              temp.forEach(function(data){
                if (data['instrument_id']==id)
                {
                  self.parameter_array.push(data);
                }      
              });
            })
          },
          unitSelected(row,unit) 
          {
            row.unit = unit;
            this.getDepartments(unit);  
          },          
          deptSelected(row,department) 
          {
            row.department = department;
            this.getLines(department);  
          },
          lineSelected(row,line) 
          {
            row.line = line;
            this.getAssets(line);  
          },
          assetSelected(row,asset) 
          {
            row.asset = asset;
            this.getInstruments(asset);  
          },
          instrumentSelected(row,instrument) 
          {
            // console.log(instrument);
            row.instrument = instrument;
            this.getParameters(instrument);   
          },
          paramSelected(row,parameter)
          {
            row.parameter = parameter;
            var temp_param_id=parameter;
            var self= this;
            axios.get(this.base_address+"getparamdatatype",{params: {parameter_id:temp_param_id}}).then((response) => {
                self.selected_param_data_type = response.data;
                 console.log(self.selected_param_data_type); 
            })
          },         

          //-----------------------------------\         
  },

}
</script>
  
