<template>
<div class="container">
<!-- --------------Parameter Data Start------------------------>    
  <hr class="divider">
  <div class="row" >   
    <div class="col-md-12" v-if="loaded==true">
      <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
        <apexchart  height="300px" type="line" :key="uniqueKeyForChart"  :options="options" :series="series"></apexchart>
      </div>
    </div>   
  </div>  
  <br />
<!-- ----------------Parameter Data End---------------------------> 
</div>

</template>
<script>

import chartjsPluginAnnotation from "chartjs-plugin-annotation";
export default {

  props:[
    'id'
  ],

  mounted() {

    this.plotData();
    // this.loaded=true;
  },

  data: function() {
    return {

      // base_address:'http://159.89.92.248/api/',
      // base_address:'http://cbm.test:8080/api/',
      base_address:'http://pepsi.uptimepk.com/api/',
      uniqueKeyForChart:0,
      loaded:false,
      // base_address:'http://pepsi.uptimepk.com/api/',
      options: {
        stroke: {
            show: true,
            curve: 'stepline',
            lineCap: 'butt',
            colors: undefined,
            width: 2,
            dashArray: 0,      
        },        
        chart: {
          id: 'vuechart-example',   
          animations: {
              enabled: true,
              easing: 'easeinout',
              speed: 800,
              animateGradually: {
                  enabled: true,
                  delay: 150
              },
              dynamicAnimation: {
                  enabled: true,
                  speed: 350
              }
          }                 
        },

        xaxis: {
           type: 'datetime'
        },
    
        annotations: {
          yaxis: []
        }
      },
       series: [{
        data: []
      }],
    }
  },     
  methods: {    
    plotData()
    { 
      this.series[0].data=[];
      // this.options.annotation.annotations=[];
      // this.chartdata.datasets.update();

      var self=this; 
      axios.get(this.base_address+"getsetpointforsingleanalytics",{params: {param_id:this.id}}).then((response) => {
        console.log("setpoint nichy")
        console.log(response)
        response.data.forEach(function(data)
        {
            var annotation={              
              y: data.setpoint,
              borderColor: 'red',

              label: {
                borderColor: 'red',
                style: {
                  color: '#fff',
                  background: 'red'
                },
                text: data.alarm_message,
              }
            }

           self.options.annotations.yaxis.push(annotation)

        })
            axios.get(self.base_address+"getparamidfordetailedanalytics",{params:{param_id:self.id}}).then((response) => {
              console.log("single paaramete k data");

            var temp=Object.values(response.data.parameter_values);
            console.log(temp);

            // console.log(temp);
              temp.forEach(function(data){

                self.series[0].data.push({"x":data.x,"y":data.y})
               
                // console.log(data.x);
              })
              // /console.log(tempchartdata)
              
              // self.series[0].data.push(response.data.parameter_values);
              self.uniqueKeyForChart++; 
              self.loaded=true;

            }) 

        })  


    }     
  },

}

</script>
<style type="text/css">
.apexcharts-pan-icon
{
  background-color: #6e8192;
  margin-left: 5px;
  margin-top: 5px;
}  
</style>

