<template>
    <div class="container-fluid">
    <h1 >Workorder History</h1>
    <hr class="divider">
      <vue-table-dynamic :params="workorders_history" ref="table"> </vue-table-dynamic> 
    </div>
</template>

<script>
  export default {
    mounted() {
            var self=this; 
            axios.get(this.base_address+"getworkordershistory").then((response) => {
              var data = response.data;

               data.forEach(function(row){
                 var table_data = [row.workorders_id,row.instrument_id,row.priority,row.state,row.created_at];
                 self.workorders_history.data.push(table_data);
               });
            })
    },
    data() {
      return {
        workorders_history: {
          data: [
            ['Workorders', 'Instrument', 'Priority','State','Timestamp'],
          ],
          header: 'row',
          border: true,
          stripe: true,
          enableSearch:true,
          sort:[2,3],
          pagination:true,
          pageSize: 3,
        },
        base_address:'http://pepsi.uptimepk.com/api/',
        // base_address:'http://159.89.92.248/api/',
        //base_address:'http://cbm.127.0.0.1.xip.io:8080/api/',
      }  
    },
  }
</script>
<style type="text/css">
  .vue-scrollbar[data-v-b1b8f426]{
    height: 30%;
  }
  .v-table-row[data-v-93f83208]{
    background-color: #f9f9f9;
  }
  .v-table.v-show-border[data-v-93f83208]{
    background-color: #f9f9f9;
  }
  .v-table-dynamic[data-v-93f83208]{
    color: #1a1c33;
  }
  .page-item.is-activated[data-v-c4e51562]{
    border-color:#1a1c33;
    background-color:#272d47;
  }
  .v-table-row.is-striped[data-v-93f83208]
  {
    background-color: #dfdded;
  }
  .v-table.v-show-border[data-v-93f83208]{
    border-top: 1px solid #272d47;
  }
  .page-item[data-v-c4e51562], .pagination-size[data-v-c4e51562]
  {
    color: #1a1c33;
  }


</style>