<template>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
		        <label> Enter Description </label>
		        <input class="form-control" type="textarea" >
		    </div> 
			<div class="col-md-6">  
			<label> Enter Star Time </label>  
	        <input class="form-control" type="time" >
	        </div>       
    	</div>
        <div class="row">
            <table class="table">
            <tr>
            <th>Unit</th>
            <th>Department</th>
            <th>Line</th>
            <th>Asset</th>
            <th>Instrument</th>
            <th>Parameter</th>
            <th>Action</th>
            </tr>

            <tr v-for="(row,index) in rows"  v-bind:key="index">
            <td>
               <v-select  :value="row.unit" :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
              </v-select>
            </td>
            <td>
               <v-select  :value="row.department" :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
              </v-select>
            </td>
            <td>
               <v-select  :value="row.line" :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
              </v-select>
            </td>
            <td>
               <v-select  :value="row.asset" :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
              </v-select>
            </td>
            
            <td>
                <v-select  :value="row.instrument" :options="instrument_array" :reduce="instrument_array => instrument_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
              </v-select>
            </td>

            <td>
               <v-select  :value="row.parameter" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" @input="parameter => parameterSelected(row, parameter)">
              </v-select>                
            </td>
            <td>
              <div v-if="index==0">
                 <button class="btn btn-success" @click="addRow">+</button>
              </div>
              <div v-else>
                 <button class="btn btn-danger" @click="removeRow(index)">-</button>
              </div>
            </td>

            </tr>  
            <button class="btn btn-success" @click="submit"> SUBMIT</button>          
            </table>
        </div>
        
    </div>
</template>

<script>
    export default {
        mounted() 
        {
            var self=this; 
            axios.get(this.base_address+"getunits").then((response) => {
              var temp = response.data;
              temp.forEach(function(data){
                self.unit_array.push(data);
              });
            })


          // var self=this; 
          //  axios.get("http://159.89.92.248/api/getdepartment").then((response) => {
          //     var temp = response.data;
          //     temp.forEach(function(data){
          //       self.department_array.push(data);
          //     });
          //   })
        },
        data() {
          return {
            value:'',
            selectedDept: [],
            inst: [],
            unit_array:[],
            department_array: [],
            line_array: [],
            asset_array: [],
            parameter:[],
            instrument_array: [],
            parameter_array: [],
            base_address:'http://pepsi.uptimepk.com/api/',


            rows: [{'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter_id':'','value':''},],
          }
        },
       methods: {
          getDepartments(id)
          { 
            var self= this;
            this.department_array=[];
            axios.get(this.base_address+"getdepartment").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['unit_id']==id)
                {
                  self.department_array.push(data);
                }
                 
              });
            })
          }, 
          getLines(id)
          { 
            var self= this;
            this.line_array=[];
            axios.get(this.base_address+"getline").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['department_id']==id)
                {
                  self.line_array.push(data);
                }
                 
              });
            })
          }, 
           
          getAssets(id)
          { 
            var self= this;
            this.asset_array=[];
            axios.get(this.base_address+"getasset").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['line_id']==id)
                {
                  self.asset_array.push(data);
                }
                 
              });
            })
          },                 
          getInstruments(id)
          { 
            var self= this;
            this.instrument_array=[];
            axios.get(this.base_address+"getInstruments").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['asset_id']==id)
                {
                  self.instrument_array.push(data);
                }
                 
              });
            })
          },
          getParameters(id)
          { 
            this.parameter_array =[];
            var self= this;
            axios.get(this.base_address+"getParameters").then((response) => {
              console.log(response.data)
              var temp = response.data;
              temp.forEach(function(data){
                if (data['instrument_id']==id)
                {
                  self.parameter_array.push(data);
                }      
              });
            })
          },
          unitSelected(row,unit) 
          {
            row.unit = unit;
            this.getDepartments(unit);  
          },          
          deptSelected(row,department) 
          {
            row.department = department;
            this.getLines(department);  
          },
          lineSelected(row,line) 
          {
            row.line = line;
            this.getAssets(line);  
          },
          assetSelected(row,asset) 
          {
            row.asset = asset;
            this.getInstruments(asset);  
          },
          instrumentSelected(row,instrument) 
          {
            row.instrument = instrument;
            this.getParameters(instrument);   
          },
          parameterSelected(row,parameter) 
          {
            row.parameter_id = parameter;
          },          

          submit()
          { 
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
            var data = {'parameter_id':parseInt(this.parameter),'value':this.value, 'location_stamp':this.location_stamp,'skip_reason':this.skip_reason, 'token': myToken.csrfToken} 
            axios.post(this.base_address+"submitmanualentrydata",this.rows)
            .then(res => {
              
            })
            
            // window.location.href="http://dev.uptimepk.com/parametervalues";
            window.location.href="http://pepsi.uptimepk.com/parametervalues";

          },

          addRow(){
            var temp = {'department':'','instrument':'','parameter':'','value':''};
            this.rows.push(temp);
          },
          removeRow(index)
          {
              this.rows.splice(index, 1);
          }
        },
    }
</script>