<template>
<div class="container">   
    <div class="row">
      <h3><b>Enter Manual Data Entry</b></h3>
      <table class="table">
        <tr>
        <th>Unit</th>
        <th>Department</th>
        <th>Line</th>
        <th>Asset</th>
        <th>Instrument</th>
        <th>Parameter</th>
        <th>Value</th>
        <th>Action</th>
        </tr>
        <tr v-for="(row,index) in rows"  v-bind:key="index">
        <td>
           <v-select  :value="row.unit" :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.department" :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.line" :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.asset" :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
          </v-select>
        </td>
        
        <td>
            <v-select  :value="row.instrument" :options="instrument_array" :reduce="instrument_array => instrument_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
          </v-select>
        </td>

        <td>
           <v-select  :value="row.parameter" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" @input="parameter => paramSelected(row, parameter)">
          </v-select>                
        </td>
        <td width="10%">
          <div v-if="rows[index]['type'] == 'Bool'">
            <select v-model="rows[index]['value']" class="form-control">
              <option value="0">False</option>
              <option value="1">True</option>
            </select>
          </div>
          <div v-else>
              <input class="form-control" v-model="rows[index]['value']" type="number">
          </div>      
        </td>        
        <td>
          <div v-if="index==0">
             <button style="height: 35px; border: 1px solid green ; padding: 0px 10px 5px 10px;" class="btn btn-success" @click="addRow"><h3 style="color: white ">+</h3></button>
          </div>
          <div v-else>
             <button style="color: white; height: 35px; border: 1px solid red ; padding: 0px 10px 5px 10px;" class="btn btn-danger" @click="removeRow(index)"><h3 style="color: white ;">-</h3></button>
          </div>
        </td>

        </tr>
           <button  id="myBtn"  style=" margin-left: 12px; background-color: #272d47; color: white" class="btn btn" @click="submit">    Submit
           </button>          
      </table>
    </div>
</div>
</template>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style type="text/css">

@media (max-width: 400px)
{ 
  .dabba-margin{
    margin-top: 286px;
  }
}
@media (min-width: 765px) and (max-width: 991px) 
{
  .adjust-height{
    height: 336px ;
  }
}
@media (min-width: 992px) and (max-width: 1115px) 
{
  .adjust-height{
   
    height: 450px ;
  }
}
@media (min-width: 1116px) and (max-width: 1999px) 
{
  .adjust-height{
    height: 475px ;
  }
}
@media (min-width: 1200px) and (max-width: 1330px) 
{
  .adjust-height{
    height: 545px ;
  }
}
@media (min-width: 1331px) and (max-width: 1920px) 
{
  .adjust-height{
    height: 540px ;
  }
}





@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
  
</style>

<script>


export default {

  mounted() {

    var self=this; 
    axios.get(this.base_address+"getunits").then((response) => {
      var temp = response.data;
      temp.forEach(function(data){
        self.unit_array.push(data);
      });
    })

  },

  data: function() {
    return {

      value:'',
      selectedDept: [],
      inst: [],
      unit_array:[],
      department_array: [],
      line_array: [],
      asset_array: [],
      parameter:[],
      instrument_array: [],
      parameter_array: [],
      selected_parameter_id:[],
      selectedOption:'',
      selectedPeriod:'',
      uniqueKeyForChart:0,
      flag: true,

      // base_address:'http://159.89.92.248/api/',
      // base_address:'http://cbm.test:8080/api/',
      // base_address:'http://dev.uptimepk.com/api/',
     // base_address:'http://pepsi.uptimepk.com/api/',
        base_address:'http://localhost:8000/api/',

      rows: [{'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':'','value':'','type':'','max':'','min':''}],


      loaded:false,
      parameter:'',
      parameter_array: [],
      option:'',
      hourly_selection:'',
      daily_selection:'',
      monthly_selection:'',
      yearly_selection:'',
      selection:'',
      paramID:[1,2],
    }
  },     
  methods: {    
    ///---------------------------------\\\   
          getDepartments(id)
          { 
            var self= this;
            this.department_array=[];
            axios.get(this.base_address+"getdepartment").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['unit_id']==id)
                {
                  self.department_array.push(data);
                }
                 
              });
            })
          }, 
          getLines(id)
          { 
            var self= this;
            this.line_array=[];
            axios.get(this.base_address+"getline").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['department_id']==id)
                {
                  self.line_array.push(data);
                }
                 
              });
            })
          }, 
           
          getAssets(id)
          { 
            var self= this;
            this.asset_array=[];
            axios.get(this.base_address+"getasset").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['line_id']==id)
                {
                  self.asset_array.push(data);
                }
                 
              });
            })
          },                 
          getInstruments(id)
          { 
            var self= this;
            this.instrument_array=[];
            axios.get(this.base_address+"getInstruments").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['asset_id']==id)
                {
                  self.instrument_array.push(data);
                }
                 
              });
            })
          },
          getParameters(id)
          { 
            this.parameter_array =[];
            var self= this;
            axios.get(this.base_address+"getParameters").then((response) => {
              console.log(response.data)
              var temp = response.data;
              temp.forEach(function(data){
                if (data['instrument_id']==id)
                { 
                  self.parameter_array.push(data);
                }      
              });
            })
          },
          unitSelected(row,unit) 
          {
            row.unit = unit;
            this.getDepartments(unit);  
          },          
          deptSelected(row,department) 
          {
            row.department = department;
            this.getLines(department);  
          },
          lineSelected(row,line) 
          {
            row.line = line;
            this.getAssets(line);  
          },
          assetSelected(row,asset) 
          {
            row.asset = asset;
            this.getInstruments(asset);  
          },
          instrumentSelected(row,instrument) 
          {
            console.log(instrument);
            row.instrument = instrument;
            this.getParameters(instrument);   
          },
          paramSelected(row,parameter)
          {
             console.log('agya parameter id '+parameter);
             this.parameter_array.forEach(function(data){
              if(data.id==parameter)
              {
                console.log(data)
                row.type = data.data_type;
                row.max= data.max_value;
                row.min= data.min_value;
              }
             }) 
             row.parameter = parameter;
          },         
          addRow(){
            var temp = {'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':'','value':'', 'type':'','max':'','min':''};
            this.rows.push(temp);
          },
          removeRow(index)
          {
              this.rows.splice(index, 1);
          },

          //-----------------------------------\\    
          submit()
          {            
            this.flag=true;
            var self=this;
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
           
            this.rows.forEach(function(row)
            {
              
              if(row.value > row.max || row.value < row.min)
              {
                self.flag=false;

              }
            })
            if(self.flag==true)
            {
                var data = {'parameter':parseInt(this.parameter),'value':this.value,'token': myToken.csrfToken} 
                // axios.post("http://cbm.test:8080/api/submitmanualentrydata",this.rows)
                axios.post("http://localhost:8000/api/submitmanualentrydata",this.rows)
                .then(res => {             
                })  
              window.location.href="http://localhost:8000/parametervalues";
              // window.location.href="http://cbm.test:8080/parametervalues"; 
              // window.location.href="http://dev.uptimepk.com/api/'";
                           
            }  
            else if(self.flag==false)
            {  
               console.log("enter wrong value===================");
               this.showAlert();
            }   
          },

          showAlert() {

            const options = {title: 'Info', size: 'sm'}
            this.$dialogs.alert('You have entered out of range value')
            .then(res => {
              console.log(res) // {ok: true|false|undefined}
            })
          }
   }         
}

</script>
