<template>
<div class="container">
<h1 style="margin-bottom:-10px"><b>Multiple Parameter Analytics</b></h1>
  <hr class="divider">    
  <div class="row">
    <div class="col-md-3">  
      <h3 style="margin-top: 20px"> Select Option</h3>
        <v-select style="width: 216px; margin-top: 20px" :options="['Daily', 'Monthly' , 'Yearly']" v-model="option"></v-select>  
    </div>
    <div class="col-md-3">
      <div style="margin-top: 20px" v-if="option == 'Hourly'">
      <h3> Select Hour</h3> 
        <v-select style="width: 216px; margin-top: 20px" :options="['00', '01', '02' , '03','04','05', '06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" v-model="hourly_selecAtion" @input="hourlySelected" ></v-select> 
      </div>
      <div v-else-if="option == 'Daily'">
      <br /> 
        <h3> Select Date</h3>
          <vuejs-datepicker @input="dailySelected" v-model="daily_selection"  style="margin-top: 15px; width: 216px;" :calendar-button-icon-content="'fa fa-calendar'"></vuejs-datepicker>
      </div>
      <div v-else-if="option == 'Monthly'">
          <br />
          <h3> Select Month</h3>
            <vuejs-datepicker style="margin-top: 15px; width: 216px;" @input="monthlySelected" v-model="monthly_selection" :minimum-view="'month'" :format="'MMMM yyyy'"> </vuejs-datepicker>
      </div> 
      <div v-else-if="option == 'Yearly'">
          <br />
          <h3> Select Yearly</h3>
            <vuejs-datepicker style="margin-top: 15px; width: 216px;" @input="yearlySelected" v-model="yearly_selection" :minimum-view="'year'" :format="'yyyy'"> </vuejs-datepicker>
      </div>       
    </div>
  </div>    
  <br /> 
    <div class="row">
        <table class="table">
        <tr>
        <th>Unit</th>
        <th>Department</th>
        <th>Line</th>
        <th>Asset</th>
        <th>Instrument</th>
        <th>Parameter</th>
        <th>Action</th>
        </tr>

        <tr v-for="(row,index) in rows"  v-bind:key="index">
        <td>
           <v-select  :value="row.unit" :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.department" :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.line" :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
          </v-select>
        </td>
        <td>
           <v-select  :value="row.asset" :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
          </v-select>
        </td>
        
        <td>
            <v-select  :value="row.instrument" :options="instrument_array" :reduce="instrument_array => instrument_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
            </v-select>
        </td>

        <td>
           <v-select  :value="row.parameter" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" @input="parameter => paramSelected(row, parameter)">
          </v-select>                
        </td>
        <td>
          <div v-if="index==0">
             <button style="height: 35px; border: 1px solid green ; padding: 0px 10px 5px 10px;" class="btn btn-success" @click="addRow"><h3 style="color: white ">+</h3></button>
          </div>
          <div v-else>
             <button style="color: white; height: 35px; border: 1px solid red ; padding: 0px 10px 5px 10px;" class="btn btn-danger" @click="removeRow(index)"><h3 style="color: white ;">-</h3></button>
          </div>
        </td>

        </tr>
         <button  id="myBtn"  style=" margin-left: 12px; background-color: #272d47; color: white" class="btn btn" @click="plotChart">Submit</button>   
       
        </table>
    </div>
    <div class="row" v-if='loaded==true'>    
      <div class="col-md-7">
        <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
          <line-chart :key="uniqueKeyForChart"   :chartdata="chartdata"   :options="options" heigh="70px" ></line-chart>
        </div>
      </div>
      <div class="col-md-5">
        <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
          <vue-table-dynamic :params="common_table_data" ref="table"> </vue-table-dynamic>
        </div>
      </div>      
    </div> 
</div>
</template>
<style type="text/css">

@media (max-width: 400px)
{ 
  .dabba-margin{
    margin-top: 286px;
  }
}
@media (min-width: 765px) and (max-width: 991px) 
{
  .adjust-height{
    height: 336px ;
  }
}
@media (min-width: 992px) and (max-width: 1115px) 
{
  .adjust-height{
   
    height: 450px ;
  }
}
@media (min-width: 1116px) and (max-width: 1999px) 
{
  .adjust-height{
    height: 475px ;
  }
}
@media (min-width: 1200px) and (max-width: 1330px) 
{
  .adjust-height{
    height: 545px ;
  }
}
@media (min-width: 1331px) and (max-width: 1920px) 
{
  .adjust-height{
    height: 540px ;
  }
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
  
</style>

<script>


export default {

  mounted() {
    var self=this; 
    axios.get(this.base_address+"getunits").then((response) => {
      var temp = response.data;
      temp.forEach(function(data){
        self.unit_array.push(data);
      });
    })
  },

  data: function() {
    return {
      common_table_data: {
        data: [
          ['Parameter Name', 'Value', 'TimeStamp'],
        ],
        header: 'row',
        border: true,
        stripe:true,
        enableSearch: true,
        sort: [0, 1,2],
        pagination: true,
        pageSize: 15,
  
      },
      value:'',
      selectedDept: [],
      inst: [],
      unit_array:[],
      department_array: [],
      line_array: [],
      asset_array: [],
      parameter:[],
      instrument_array: [],
      parameter_array: [],
      selected_parameter_id:[],
      selectedOption:'',
      selectedPeriod:'',
      uniqueKeyForChart:0,
      // base_address:'http://159.89.92.248/api/',
      // base_address:'http://cbm.127.0.0.1.xip.io:8080/api/'
      base_address:'http://pepsi.uptimepk.com/api/',



      rows: [{'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':''},],


      loaded:false,
      parameter:'',
      parameter_array: [],
      option:'',
      hourly_selection:'',
      daily_selection:'',
      monthly_selection:'',
      yearly_selection:'',
      selection:'',
      paramID:[1,2],

      chartdata: {
  
        datasets: [],
      },
      options: {
        scales: {
          xAxes: [],
          yAxex:[{
            display:true,

          }]
        }
      },

      colorx:'red'
    }
  },     
  methods: {    
    ///---------------------------------\\\   
          getDepartments(id)
          { 
            var self= this;
            this.department_array=[];
            axios.get(this.base_address+"getdepartment").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['unit_id']==id)
                {
                  self.department_array.push(data);
                }
                 
              });
            })
          }, 
          getLines(id)
          { 
            var self= this;
            this.line_array=[];
            axios.get(this.base_address+"getline").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['department_id']==id)
                {
                  self.line_array.push(data);
                }
                 
              });
            })
          }, 
           
          getAssets(id)
          { 
            var self= this;
            this.asset_array=[];
            axios.get(this.base_address+"getasset").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['line_id']==id)
                {
                  self.asset_array.push(data);
                }
                 
              });
            })
          },                 
          getInstruments(id)
          { 
            var self= this;
            this.instrument_array=[];
            axios.get(this.base_address+"getInstruments").then((response) => {
              console.log(response.data)
              var temp = response.data;
              self.instrument_array=[];
              temp.forEach(function(data){
                if (data['asset_id']==id)
                {
                  self.instrument_array.push(data);
                }
                 
              });
            })
          },
          getParameters(id)
          { 
            this.parameter_array =[];
            var self= this;
            axios.get(this.base_address+"getParameters").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              temp.forEach(function(data){
                if (data['instrument_id']==id)
                {
                  self.parameter_array.push(data);
                }      
              });
            })
          },
          unitSelected(row,unit) 
          {
            row.unit = unit;
            this.getDepartments(unit);  
          },          
          deptSelected(row,department) 
          {
            row.department = department;
            this.getLines(department);  
          },
          lineSelected(row,line) 
          {
            row.line = line;
            this.getAssets(line);  
          },
          assetSelected(row,asset) 
          {
            row.asset = asset;
            this.getInstruments(asset);  
          },
          instrumentSelected(row,instrument) 
          {
            console.log(instrument);
            row.instrument = instrument;
            this.getParameters(instrument);   
          },
          paramSelected(row,parameter)
          {
             console.log('agya parameter id '+parameter); 
             row.parameter = parameter;
          },         
          addRow(){
            var temp = {'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':''};
            this.rows.push(temp);
          },
          removeRow(index)
          {
              this.rows.splice(index, 1);
          },

          //-----------------------------------\\

          hourlySelected(data)
          {   
            this.selectedOption="hourly";
            this.selectedPeriod=data;
            this.options.scales.xAxes=[];
            this.options.scales.xAxes.push({
              display:true,
              type: 'time',
              time: {
                displayFormats: {
                  hour: 'hh:mm'
                }
              }
            })
          },
          dailySelected(data)
          {
            var date= Vue.moment(data).format('DD/MM/YYYY');          
            this.selectedOption="daily";
            this.selectedPeriod=data;
            this.options.scales.xAxes=[];
            this.options.scales.xAxes.push({
              display:true,
              type: 'time',
              time: {
                unit: 'hour',
                displayFormats: {
                  minute: 'mm:ss'
                }
              }
            })
          },
          monthlySelected(data)
          {         
            this.selectedOption="monthly";
            this.selectedPeriod=data;
            this.options.scales.xAxes=[];
            this.options.scales.xAxes=[{
              display:true,
              type: 'time',
              time: {
                unit: 'day',
                displayFormats: {
                  day: 'MMM YYYY'  
                }
              }
            }]
          },
          yearlySelected(data)
          {         
            this.selectedOption="yearly";
            this.selectedPeriod=data;
            this.options.scales.xAxes=[];
            this.options.scales.xAxes.push({
              display:true,
              type: 'time',
              time: {
                unit: 'month',
                displayFormats: {
                  month: 'MMM YYYY'
                }
              }
            })
          },    
          plotChart()
          { 
            document.getElementById('myBtn').disabled = true; 
            setTimeout(function(){ 
               document.getElementById('myBtn').disabled = false; 
            }, 2000);

            this.chartdata.datasets = [];
            this.common_table_data.data=[];
            this.common_table_data.data.push(['Parameter Name', 'Value', "TimeStamp"]);
            this.selected_parameter_id=[];
            
            var self= this;
            this.rows.forEach(function(row,key)
            {
                self.selected_parameter_id.push(row.parameter);
            })
            let unique_parameter = [...new Set( this.selected_parameter_id)];
              axios.get(this.base_address+"getparametervaluesforchart", {params: {param_id:unique_parameter,selected_option:self.selectedOption,selected_period:self.selectedPeriod}})
               .then((response) => {
                  var temp = response.data;
                  console.log(temp);
                  var color=['#763527','#7ef293','#ba51c7','#6586ff','red','blue','green','yellow','pink','#57e3e7']; 
                   var labels;
                  
                  temp.forEach(function(data,key){
                    data.parameter_values.forEach(function(table_data,key){
                        self.common_table_data.data.push([data['parameter_name'],table_data['y'],table_data['x']]);
                    })
                    console.log("below data");
                    console.log(data);
                    var tempchartdata={
                      label: data['parameter_name'],
                      backgroundColor: color[key],
                      fill: false,
                      data:data['parameter_values'],
                      hoverBackgroundColor:'red',
                      pointBackgroundColor:'black',
                      pointRotation:180,
                      borderColor:color[key],
                    }
                    self.chartdata.datasets.push(tempchartdata);
                  });
                  console.log(self.chartdata); 
                  self.loaded=false;
                  self.loaded=true;
                  self.uniqueKeyForChart++;
              })
          }          
  },

}

</script>

