<template>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <h1 style="text-align: center;">Report</h1>
            <label>Select date</label>
            <input type="text" id="dates" name="datefilter" value="" />
            <button id="reportbtn" class="btn btn-success" @click="fetchData()" disabled>Get Report</button>
            <button id="reportbtn" class="btn btn-success" @click="fetchTodayData()" >Get Today Report</button>
            <button id="reportbtn" class="btn btn-success" @click="fetchYesturdayData()" >Get Yesterday Report</button>
            <button id="reportbtn" class="btn btn-success" @click="printDiv('printableArea')" >Print / Download</button>
            <div v-if="loader==true"  id="printableArea">
              <div class="row">
                <div class="col-md-12">
                  <h1>Alarms</h1>
                  <hr width="100%" style="border-top:2px solid #272d47">
                  <v-row
                    class="mb-12"
                   
                  >
                    <!-- Total Alarm -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#3F51B5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Total</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{alarms['total']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Total Alarm End-->


                    <!-- UnResolved Alarm -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#42A5F5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Unresolved</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{alarms['unresolved']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- UnResolved Alarm End-->
                    
                    <!-- Resolved Alarm -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#28a745; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Resolved</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{alarms['resolved']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Resolved Alarm End-->
                    
                    <!-- Unacknowledged Alarm -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#AB47BC; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Unack</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{alarms['unacknowledged']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Unacknowledged Alarm End-->


                    <!-- Acknowledged Alarm -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#26A69A; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Ack</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{alarms['acknowledged']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Acknowledged Alarm End-->
                  </v-row>
                  <div class="row" v-if = 'table_loader'>
                    <div class="col-md-12">
                      <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
                        <vue-table-dynamic :params="alarm_table_data" ref="table"> </vue-table-dynamic>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <h1>Workorders</h1>
                  <hr width="100%" style="border-top:2px solid #272d47">
                  <v-row
                    class="mb-12"
                   
                  >
                    <!-- Total Workorders -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#3F51B5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Total</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{workorders['total']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Total Workorders End-->


                    <!-- Open Workorders -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#42A5F5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Open</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{workorders['open']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Open Workorders End-->
                    
                    <!-- Closed Workorders -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#28a745; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Closed</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{workorders['closed']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Closed Workorders End-->
                    
                    <!-- Unacknowledged Workorders -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#AB47BC; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Unack</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{workorders['unacknowledged']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Unacknowledged Workorders End-->


                    <!-- Acknowledged Workorders -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#26A69A; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Ack</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{workorders['acknowledged']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Acknowledged Workorders End-->

                  </v-row>
                  <div class="row" v-if = 'table_loader'>
                    <div class="col-md-12">
                      <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
                        <vue-table-dynamic :params="workorder_table_data" ref="table"> </vue-table-dynamic>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <h1>Routes</h1>
                  <hr width="100%" style="border-top:2px solid #272d47">
                  <v-row
                    class="mb-12"
                   
                  >
                    <!-- Total Routes -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#3F51B5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Total</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{routes['total']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Total Routes End-->


                    <!-- In Progress Routes -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#42A5F5; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">In progress</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{routes['progress']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- In progress Routes End-->
                    
                    <!-- Cancelled Routes -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#AB47BC; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Cancelled</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{routes['cancelled']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Cancelled Routes End-->
                    
                    <!-- Completed Routes -->
                    <v-col>
                      <v-card
                        class="mx-auto"
                        max-width="344"
                        outlined
                        hover
                        raised
                        shaped
                        dark
                        style="background-color:#28a745; color: white"
                      >
                       
                        <v-row>
                          <v-col >
                            <h4 style="margin-left: 15px; color: white">Completed</h4>
                          </v-col>
                          <v-col>
                            <center>
                              <i class="fas fa-eye fa-2x"></i>
                            </center>
                          </v-col> 
                        </v-row>

                        <v-card-text style="text-align: center;">
                          <b style="font-size: 50px; color: white">{{routes['completed']}}</b>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <!-- Completed Routes End-->

                  </v-row>
                  <div class="row" v-if = 'table_loader'>
                    <div class="col-md-12">
                      <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
                        <vue-table-dynamic :params="route_table_data" ref="table"> </vue-table-dynamic>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<style type="text/css">
  .daterangepicker .drp-calendar {
    max-width: 100%;
  }
  .card-header:first-child
  {
    font-size: 22px;
  }
  .col {
    padding-bottom: 0px
  }
</style>

<script>  
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return {
              table_loader: false,
              alarms_history_today:[],
              workorder_history_today:[],
              route_history_today:[],

              alarms_history_yesterday:[],
              workorder_history_yesterday:[],
              route_history_yesterday:[],

              alarm_table_data: {
                data: [
                  ['Old State', 'New State', 'New Value'],
                ],
                header: 'row',
                border: true,
                stripe:true,
                enableSearch: true,
                sort: [0, 1,2],
                pagination: true,
                pageSize: 15,
          
              },
              workorder_table_data: {
                data: [
                  ['Current Workorder', 'Action', 'Action Taken By'],
                ],
                header: 'row',
                border: true,
                stripe:true,
                enableSearch: true,
                sort: [0, 1,2],
                pagination: true,
                pageSize: 15,
          
              },
              route_table_data: {
                data: [
                  ['Route State', 'Start Time', 'End Time'],
                ],
                header: 'row',
                border: true,
                stripe:true,
                enableSearch: true,
                sort: [0, 1,2],
                pagination: true,
                pageSize: 15,
          
              },
              // base_address : 'http://pepsi.uptimepk.com/api/',
              base_address : 'http://localhost:8000/api/',
              alarms : [],
              workorders : [],
              routes : [],
              loader : false

             
            }

        },
        methods:{
          dateSelector()
          {
            $(function() {
              $('input[name="datefilter"]').daterangepicker({
                  autoUpdateInput: false,
                  locale: {
                      cancelLabel: 'Clear'
                  }
              });

              $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                  $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                   $('#reportbtn').removeAttr('disabled');
              });

              $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                  $(this).val('');
                  $('#reportbtn').attr('disabled');
              });
            });
          },
          fetchData()
          {
            // $( "#route_datatable" ).hide();
            var drp = $('#dates').data('daterangepicker');
            var start_date = drp.startDate.format('YYYY-MM-DD');
            var end_date = drp.endDate.format('YYYY-MM-DD');
            axios.get(this.base_address+"generate-report",{params: {start_date:start_date,end_date:end_date,type:'1'}}).then((response) => {
              this.alarms = response.data.alarms
              this.workorders = response.data.workorders
              this.routes = response.data.routes
              this.loader=true;
            })
          },
          fetchTodayData()
          {
            var startDate = Vue.moment();
            var endDate = Vue.moment().add(1, 'days');
            var start_date = startDate.format('YYYY-MM-DD');
            var end_date = endDate.format('YYYY-MM-DD');
            var self=this;
            this.table_loader=true;
            axios.get(this.base_address+"generate-report",{params: {start_date:start_date,end_date:end_date,type:'2'}}).then((response) => {
              self.alarms = response.data.alarms
              self.workorders = response.data.workorders
              self.routes = response.data.routes
              self.alarms_history_today = response.data.alarms_history_today
              self.workorder_history_today = response.data.workorder_history_today
              self.route_history_today = response.data.route_history_today
              
              self.alarms_history_today.forEach(function(alarmshistorytoday){
              self.alarm_table_data.data.push([alarmshistorytoday['old_state'],alarmshistorytoday['new_state'],alarmshistorytoday['new_value']])

              })

              self.workorder_history_today.forEach(function(workorderhistorytoday){
              self.workorder_table_data.data.push([workorderhistorytoday['current_workorder_id'],workorderhistorytoday['action'],workorderhistorytoday['action_taken_by']])
              })

              self.route_history_today.forEach(function(routehistorytoday){
              self.route_table_data.data.push([routehistorytoday['route_state'],routehistorytoday['start_time'],routehistorytoday['end_time']])
              })
              self.loader=true;
            })

          },       
          fetchYesturdayData()
          {
            var startDate = Vue.moment().subtract(1, 'days');
            var endDate = Vue.moment();

            var start_date = startDate.format('YYYY-MM-DD');
            var end_date = endDate.format('YYYY-MM-DD');
              console.log(start_date);
              console.log(end_date);
              var self = this;
              this.table_loader=true;
            axios.get(this.base_address+"generate-yesturday-report",{params: {start_date:start_date,end_date:end_date,type:'3'}}).then((response) => {
              self.alarms = response.data.alarms
              self.workorders = response.data.workorders

              self.routes = response.data.routes
              console.log(response.data.alarms_history_yesterday)
              self.alarms_history_yesterday = response.data.alarms_history_yesterday
              self.workorder_history_yesterday = response.data.workorder_history_yesterday
              self.route_history_yesterday = response.data.route_yesterday

             response.data.alarms_history_yesterday.forEach(function(alarmshistoryyesterday){
              self.alarm_table_data.data.push([alarmshistoryyesterday['old_state'],alarmshistoryyesterday['new_state'],alarmshistoryyesterday['new_value']])

              })

              response.data.workorder_history_yesterday.forEach(function(workorderhistoryyesterday){
              self.workorder_table_data.data.push([workorderhistoryyesterday['current_workorder_id'],workorderhistoryyesterday['action'],workorderhistoryyesterday['action_taken_by']])
              })

              response.data.route_history_yesterday.forEach(function(routehistoryyesterday){
              self.route_table_data.data.push([routehistoryyesterday['route_state'],routehistoryyesterday['start_time'],routehistoryyesterday['end_time']])
              })
              self.loader=true;
            })
          },       
          printDiv(divName)
          {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
          }
        },
        created: function(){
            this.dateSelector();
        }
    }
</script>

