<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col">
                  <label>Description</label>
                  <input type="text" class="form-control" v-model="description" placeholder="Enter Description">
                </div>
                <div class="col">
                  <label>Period</label>
                  <input type="number" class="form-control" v-model="period" placeholder="Enter Period in minutes">
                </div>
                <div class="col">
                  <label>Operator</label>
                  <v-select  v-model="operator" :options="operators_array" :reduce="operators_array => operators_array.id" label="name" >
                  </v-select>
                </div>
              </div>

              <div class="row">
                <table class="table">
                  <tr>
                    <th>Unit</th>
                    <th>Department</th>
                    <th>Line</th>
                    <th>Asset</th>
                    <th>Inspection point</th>
                    <th>Order #</th>
                    <th>Wrench time</th>
                    <th>Action</th>
                  </tr>
                  <tr v-for="(row,index) in rows"  v-bind:key="index">
                    <td width="17%">
                       <v-select  :value="row.unit" :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
                      </v-select>
                    </td>
                    <td width="17%">
                       <v-select  :value="row.department" :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
                      </v-select>
                    </td>
                    <td width="17%">
                       <v-select  :value="row.line" :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
                      </v-select>
                    </td>
                    <td width="17%">
                       <v-select  :value="row.asset" :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
                      </v-select>
                    </td>
                    <td width="17%">
                      <v-select  :value="row.instrument" :options="inspection_point_array" :reduce="inspection_point_array => inspection_point_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
                      </v-select>
                    </td>
                    <td >
                       <input style="width: 100%" v-model="rows[index]['order_number']" type="number" >
                    </td>
                    <td >
                       <input style="width: 90%" v-model="rows[index]['wrench_time']" type="number" >
                    </td>
                    <td>
                      <div v-if="index==0">
                         <button  type="button" style="height: 35px; border: 1px solid green ; padding: 0px 10px 5px 10px;" class="btn btn-success" @click="addRow"><h3 style="color: white ">+</h3></button>
                      </div>
                      <div v-else>
                         <button type="button" style="color: white; height: 35px; border: 1px solid red ; padding: 0px 10px 5px 10px;" class="btn btn-danger" @click="removeRow(index)"><h3 style="color: white ;">-</h3></button>
                      </div>
                    </td>
                  </tr>
                  <button  id="myBtn" style="margin-left: 12px; background-color: #272d47; color: white" class="btn btn" @click="createRoute">Submit</button>
                </table>    
              </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            //console.log('Component mounted.')
            var self=this; 
            axios.get(this.base_address+"getunits").then((response) => {
              var temp = response.data;
              temp.forEach(function(data){com
                self.unit_array.push(data);
              });
            })
            axios.get(this.base_address+"getoperators").then((response) => {
              var temp = response.data;
              temp.forEach(function(data){
                self.operators_array.push(data);
              });
            })
        },
        data: function() {
          return {
            //base_address:'http://pepsi.uptimepk.com/api/',
            base_address:'http://127.0.0.1:8000/api/',
            // base_address:'http://dev.uptimepk.com/api/',
            // base_address:'http://cbm.test:8080/api/',
            rows: [{'unit':'' ,'department':'', 'line':'' , 'asset':'' ,'inspection_point':'' , 'order_number':'' , 'wrench_time':''},],

            //variables and arrays
            unit_array:[],
            department_array: [],
            line_array: [],
            asset_array: [],
            inspection_point_array: [],
            operators_array: [],
            description: '',
            period: '',
            operator: '',
          }
        },
        methods: { 
          addRow(){
            var temp = {'unit':'' ,'department':'', 'line':'' , 'asset':'' ,'inspection_point':'' , 'order_number':'' , 'wrench_time':''};
            this.rows.push(temp);
          },
          removeRow(index)
          {
            this.rows.splice(index, 1);
          },
          getDepartments(id)
          { 
            var self= this;
            this.department_array=[];
            axios.get(this.base_address+"getdepartment").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.inspection_point_array=[];
              temp.forEach(function(data){
                if (data['unit_id']==id)
                {
                  self.department_array.push(data);
                }
                 
              });
            })
          }, 
          getLines(id)
          { 
            var self= this;
            this.line_array=[];
            axios.get(this.base_address+"getline").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.inspection_point_array=[];
              temp.forEach(function(data){
                if (data['department_id']==id)
                {
                  self.line_array.push(data);
                }
                 
              });
            })
          }, 
           
          getAssets(id)
          { 
            var self= this;
            this.asset_array=[];
            axios.get(this.base_address+"getasset").then((response) => {
              // console.log(response.data)
              var temp = response.data;
              self.inspection_point_array=[];
              temp.forEach(function(data){
                if (data['line_id']==id)
                {
                  self.asset_array.push(data);
                }
                 
              });
            })
          },  
          getInstruments(id)
          { 
            var self= this;
            this.instrument_array=[];
            axios.get(this.base_address+"getInstruments").then((response) => {
              //console.log(response.data)
              var temp = response.data;
              self.inspection_point_array=[];
              temp.forEach(function(data){
                if (data['asset_id']==id)
                {
                  self.inspection_point_array.push(data);
                }
                 
              });
            })
          },

          instrumentSelected(row,instrument) 
          {
            //console.log(instrument);
            row.inspection_point = instrument;
          },        

          unitSelected(row,unit) 
          {
            row.unit = unit;
            this.getDepartments(unit);  
          },          
          deptSelected(row,department) 
          {
            row.department = department;
            this.getLines(department);  
          },
          lineSelected(row,line) 
          {
            row.line = line;
            this.getAssets(line);  
          },
          assetSelected(row,asset) 
          {
            row.asset = asset;
            this.getInstruments(asset);  
          },

          createRoute()
          {
            var csrf_token = $('meta[name="csrf-token"]').attr('content');
           
            //console.log(this.operator);

            var data = {'operator':this.operator, 'description':this.description,'period':this.period, 'inspection_points': this.rows, 'token': myToken.csrfToken} 
            
            axios.post(this.base_address+"createroute",data)
            .then(res => { 
              // window.location.href="http://dev.uptimepk.com/routes";  http://127.0.0.1/api/
              //window.location.href="http://pepsi.uptimepk.com/routes";
              window.location.href="http://127.0.0.1:8000/routes";
            });  
          }
        }    
    }
</script>
