
<template>
<div class="container">
  <h1 style="margin-bottom:-10px"><b>Single Parameter Analytics</b></h1>
  <hr class="divider">  
  <div class="row">
    <div class="col-md-3">  
       <h3 style="margin-top: 20px"> Select Option</h3>
        <v-select style="width: 216px; margin-top: 20px" :options="['Daily', 'Monthly' , 'Yearly']" v-model="option"></v-select>  
    </div>
    <div class="col-md-3">
      <div style="margin-top: 20px" v-if="option == 'Hourly'">
          <h3> Select Hour</h3> 
          <v-select style="width: 216px; margin-top: 20px" :options="['00', '01', '02' , '03','04','05', '06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" v-model="hourly_selecAtion" @input="hourlySelected" ></v-select> 
      </div>
      <div v-else-if="option == 'Daily'">
          <br /> 
          <h3> Select Date</h3>
            <vuejs-datepicker @input="dailySelected" v-model="daily_selection"  style="margin-top: 15px; width: 216px;" :calendar-button-icon-content="'fa fa-calendar'"></vuejs-datepicker>
      </div>
      <div v-else-if="option == 'Monthly'">
          <br />
          <h3> Select Month</h3>
            <vuejs-datepicker style="margin-top: 15px; width: 216px;" @input="monthlySelected" v-model="monthly_selection" :minimum-view="'month'" :format="'MMMM yyyy'"> </vuejs-datepicker>
      </div> 
      <div v-else-if="option == 'Yearly'">
          <br />
          <h3> Select Yearly</h3>
            <vuejs-datepicker style="margin-top: 15px; width: 216px;" @input="yearlySelected" v-model="yearly_selection" :minimum-view="'year'" :format="'yyyy'"> </vuejs-datepicker>
      </div>       
    </div>
  </div> 
  <br /> 

  <div class="row">
    <div class="col-md-12">  
      <table class="table">
      <tr>
      <th>Unit</th>
      <th>Department</th>
      <th>Line</th>
      <th>Asset</th>
      <th>Instrument</th>
      <th>Parameter</th>
      <th>Action</th>
      </tr>

      <tr v-for="(row,index) in rows"  v-bind:key="index">
      <td>
         <v-select  :value="row.unit" :options="unit_array" :reduce="unit_array => unit_array.id" label="name" @input="unit => unitSelected(row, unit)">
        </v-select>
      </td>
      <td>
         <v-select  :value="row.department" :options="department_array" :reduce="department_array => department_array.id" label="name" @input="department => deptSelected(row, department)">
        </v-select>
      </td>
      <td>
         <v-select  :value="row.line" :options="line_array" :reduce="line_array => line_array.id" label="name" @input="line => lineSelected(row, line)">
        </v-select>
      </td>
      <td>
         <v-select  :value="row.asset" :options="asset_array" :reduce="asset_array => asset_array.id" label="name" @input="asset => assetSelected(row, asset)">
        </v-select>
      </td>
      
      <td>
          <v-select  :value="row.instrument" :options="instrument_array" :reduce="instrument_array => instrument_array.id" label="name" @input="instrument => instrumentSelected(row, instrument)" >
        </v-select>
      </td>

      <td>
         <v-select  :value="row.parameter" :options="parameter_array" :reduce="parameter_array => parameter_array.id" label="name" @input="parameter => paramSelected(row, parameter)">
        </v-select>                
      </td>
      <td>
         <button  id="myBtn" style="background-color: #272d47; color:#fcf8fe" class="btn" @click="plotData">Plot Data</button>
      </td>
      </tr>
         
     
      </table>
    </div>    
  </div> 

<!-- -------------- Alarms Data Start--------------------------->  
  <div v-if="loaded==true">
    <h2>{{table_header}} Data  </h2>
  </div>  
  <br />
  <a href="#" class="hvr-icon-buzz">
    <h3> Alarm Data <img height="30px" width="30px" src="http://pepsi.uptimepk.com/images/bell.png" class="hvr-icon" /></h3>
  </a>
  <hr class="divider" style="margin-top: 0rem">    
  <div class="row"> 
      <div class="col-md-7" v-if="loaded==true">
        <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
          <bar-chart :key="uniqueKeyForBarChart"  :chartdata="barchartdata"   :options="baroptions" heigh="70px" ></bar-chart>
        </div>
      </div>
      <div class="col-md-5" v-if="loaded==true">
        <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px; padding: 10px">
          <vue-table-dynamic :params="alarm_table_data" ref="table"> </vue-table-dynamic> 
        </div>
      </div>
  </div>
  <br />
<!-- ---------------Alarms Data End----------------------------->         
<!-- --------------Parameter Data Start------------------------>    
  <h3>Parameter Data</h3>
  <hr class="divider">
  <div class="row" >   
    <div class="col-md-7" v-if="loaded==true">
      <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px">
        <line-chart :key="uniqueKeyForChart"  :chartdata="chartdata"   :options="options" heigh="70px" ></line-chart>
      </div>
    </div>
    <div class="col-md-5" v-if="loaded==true">
        <div style="width: 100%;height: 100%;border: 2px solid #272d47; box-shadow: 7px 9px 5px #272d47; border-radius: 8px; padding: 10px">
          <vue-table-dynamic :params="parameter_table_data" ref="table"> </vue-table-dynamic> 
        </div>
    </div>    
  </div>  
  <br />
  <div class="row" v-if="loaded==true">          
    <div class="col-md-3 sm-box">
      <a data-toggle="tooltip" title="Maximum value recorded during selected period"> 
        <div class="box hvr-grow hvr-shutter-out-vertical">
          <div v-if="data_type=='Bool'">
          <h3># Of Yes</h3>
          <h2 style="font-size: 4.5vw">{{yes_bool}}</h2>            
          </div>
          <div v-else>
          <h3># Of Yes</h3>
          <h2 style="font-size: 4.5vw">{{yes_bool}}</h2>            
          </div>
        </div>
      </a>  
    </div> 
    <div class="col-md-3 sm-box">
      <a data-toggle="tooltip" title="Minimum value recorded during selected period"> 
 <!--        <div class="box hvr-grow hvr-shutter-out-vertical">
          if(data_type=='Bool')   
          <h3># Of No</h3>
          <h2 style="font-size: 4.5vw">{{no_bool}}</h2>            
          @else
          <h3>Minimum</h3>
          <h2 style="font-size: 4.5vw">{{min_param_value}}</h2>
          @endif
        </div> -->
      </a>  
    </div> 
    <div class="col-md-3 sm-box">
      <a data-toggle="tooltip" title="Average value recorded during selected period"> 
        <div class="box hvr-grow hvr-shutter-out-vertical">
          <h3>Average</h3>
          <h2 style="font-size: 4.5vw">{{avg_param_value}}</h2>
        </div>
      </a>  
    </div> 
    <div class="col-md-3 sm-box">
      <a data-toggle="tooltip" title="Total number of parameter during selected period"> 
        <div class="box hvr-grow hvr-shutter-out-vertical">
          <h3>Total</h3>
          <h2 style="font-size: 4.5vw">{{total_param_value}}</h2>
        </div>
      </a>  
    </div>                         
  </div>  
 <br />         
 
<!-- ----------------Parameter Data End---------------------------> 
</div>

</template>
<script>

import chartjsPluginAnnotation from "chartjs-plugin-annotation";
export default {

  mounted() {

    var self=this; 
    axios.get(this.base_address+"getunits").then((response) => {
      var temp = response.data;
      temp.forEach(function(data){
        self.unit_array.push(data);
      });
    }) 
  },

  data: function() {
    return {
      alarm_table_data: {
        data: [
          ['Alarm Name', 'Value'],
        ],
        header: 'row',
        border: true,
        stripe:true,
        enableSearch: true,
        sort: [0, 1,2],
        pagination: true,
        pageSize: 10,
  
      },

      parameter_table_data: {
        data: [
          ['Value', 'Timestamp'],
        ],
        header: 'row',
        border: true,
        stripe:true,
        enableSearch: true,
        sort: [0, 1,2],
        pagination: true,
        pageSize: 10,
  
      },




      rows: [{'unit':'' , 'line':'' , 'asset':'' ,'department':'','instrument':'','parameter':''},],

      value:'',
      selectedDept: [],
      inst: [],
      unit_array:[],
      department_array: [],
      line_array: [],
      asset_array: [],
      parameter:[],
      instrument_array: [],
      parameter_array: [],
      selected_parameter_id:[],
      selectedOption:'',
      selectedPeriod:'',
      uniqueKeyForChart:0,
      table_header:'',
      max_param_value:0,
      min_param_value:0,
      avg_param_value:0,
      no_bool:0,
      yes_bool:0,
      data_type:'',
      total_param_value:0,

      max_alarm_value:0,
      min_alarm_value:0,
      avg_alarm_value:0,
      total_alarm_value:0,      
      uniqueKeyForBarChart:0,
      // base_address:'http://159.89.92.248/api/',
      base_address:'http://cbm.test:8080/api/',
      // base_address:'http://pepsi.uptimepk.com/api/',

      loaded:false,
      alarm_loaded:false,
      parameter:'',
      parameter_array: [],
      option:'',
      hourly_selection:'',
      daily_selection:'',
      monthly_selection:'',
      yearly_selection:'',
      selection:'',
      selected_date:'',

      paramID:[1,2],

      chartdata: {
  
        datasets: [],
      },
      options: {
      annotation: {
        annotations: [
        ],
        drawTime: "afterDraw" // (default)
    },
        scales: {
          xAxes: [],
          yAxex:[{
            display:true,


          }]
        }
      },
/////////////////BAR CHART//////////////////////
    barchartdata: {
      labels:[],
      datasets: [

      ]
    },
    baroptions: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
          }
        }]
      }
    }

///////////////////////////////////////////////

    }
  },     
  methods: {    
    getDepartments(id)
    { 
      var self= this;
      this.department_array=[];
      axios.get(this.base_address+"getdepartment").then((response) => {
        // console.log(response.data)
        var temp = response.data;
        self.instrument_array=[];
        temp.forEach(function(data){
          if (data['unit_id']==id)
          {
            self.department_array.push(data);
          }
           
        });
      })
    }, 
    getLines(id)
    { 
      var self= this;
      this.line_array=[];
      axios.get(this.base_address+"getline").then((response) => {
        // console.log(response.data)
        var temp = response.data;
        self.instrument_array=[];
        temp.forEach(function(data){
          if (data['department_id']==id)
          {
            self.line_array.push(data);
          }
           
        });
      })
    }, 
     
    getAssets(id)
    { 
      var self= this;
      this.asset_array=[];
      axios.get(this.base_address+"getasset").then((response) => {
        // console.log(response.data)
        var temp = response.data;
        self.instrument_array=[];
        temp.forEach(function(data){
          if (data['line_id']==id)
          {
            self.asset_array.push(data);
          }
           
        });
      })
    },                 
    getInstruments(id)
    { 
      var self= this;
      this.instrument_array=[];
      axios.get(this.base_address+"getInstruments").then((response) => {
        console.log(response.data)
        var temp = response.data;
        self.instrument_array=[];
        temp.forEach(function(data){
          if (data['asset_id']==id)
          {
            self.instrument_array.push(data);
          }
           
        });
      })
    },
    getParameters(id)
    { 
      this.parameter_array =[];
      var self= this;
      axios.get(this.base_address+"getParameters").then((response) => {
        // console.log(response.data)
        var temp = response.data;
        temp.forEach(function(data){
          if (data['instrument_id']==id)
          {
            self.parameter_array.push(data);
          }      
        });
      })
    },
    unitSelected(row,unit) 
    {
      row.unit = unit;
      this.getDepartments(unit);  
    },          
    deptSelected(row,department) 
    {
      row.department = department;
      this.getLines(department);  
    },
    lineSelected(row,line) 
    {
      row.line = line;
      this.getAssets(line);  
    },
    assetSelected(row,asset) 
    {
      row.asset = asset;
      this.getInstruments(asset);  
    },
    instrumentSelected(row,instrument) 
    {
      console.log(instrument);
      row.instrument = instrument;
      this.getParameters(instrument);   
    },
    paramSelected(row,parameter)
    {
       console.log('agya parameter id '+parameter); 
       row.parameter = parameter;
    },  
    hourlySelected(data)
    {   
      this.selectedOption="hourly";
      this.selectedPeriod=data;
      this.options.scales.xAxes=[];
      this.options.scales.xAxes.push({
        display:true,
        type: 'time',
        time: {
          displayFormats: {
            hour: 'hh:mm'
          }
        }
      })
    },
    dailySelected(data)
    {
      var date= Vue.moment(data).format('DD/MM/YYYY');          
      this.selectedOption="daily";
      this.selectedPeriod=data;
      this.options.scales.xAxes=[];
      this.options.scales.xAxes.push({
        display:true,
        type: 'time',
        time: {
          unit: 'hour',
          displayFormats: {
            minute: 'mm:ss'
          }
        }
      })
    },
    monthlySelected(data)
    {         
      this.selectedOption="monthly";
      this.selectedPeriod=data;
      this.options.scales.xAxes=[];
      this.options.scales.xAxes=[{
        display:true,
        type: 'time',
        time: {
          unit: 'day',
          displayFormats: {
            day: 'MMM YYYY'  
          }
        }
      }]
    },
    yearlySelected(data)
    {         
      this.selectedOption="yearly";
      this.selectedPeriod=data;
      this.options.scales.xAxes=[];
      this.options.scales.xAxes.push({
        display:true,
        type: 'time',
        time: {
          unit: 'month',
          displayFormats: {
            month: 'MMM YYYY'
          }
        }
      })
    },  
    plotData()
    { 
      this.selected_date= Vue.moment(this.selectedPeriod).format('MMMM Do YYYY');
      document.getElementById('myBtn').disabled = true; 
      setTimeout(function(){ 
         document.getElementById('myBtn').disabled = false; 
      }, 2000);

      this.options.annotation.annotations=[];
      this.chartdata.datasets=[];
      this.barchartdata.datasets=[];
      this.barchartdata.labels=[];

      this.parameter_table_data.data=[];
      this.parameter_table_data.data.push(['Value','Timestamp']);

      this.alarm_table_data.data=[];
      this.alarm_table_data.data.push(['Alarm','Value']);



      var self=this;
  
      axios.get(this.base_address+"getsetpointforsingleanalytics",{params: {param_id:this.rows[0].parameter}}).then((response) => {
        // console.log("setpoint nichy")
        // console.log(response)
        response.data.forEach(function(data)
        {
         var annotation = {
              type: 'line',
              mode: 'horizontal',
              scaleID: 'y-axis-0',
              value: data.setpoint,
              borderColor: 'tomato',
              borderWidth: 1,
            }

          self.options.annotation.annotations.push(annotation)

        })


          axios.get(self.base_address+"getsingleparameteranalyticsforchart", {params: {param_id:self.rows[0].parameter,selected_option:self.selectedOption,selected_period:self.selectedPeriod}}).then(function(response){
            console.log("nichy response ")
             console.log(response)
          /////////For Pamater Chart Start/////////////////////////      
              var tempchartdata={
                label: response.data['parameter_name'],
                backgroundColor:'white',
                fill: false,
                data:response.data.parameter_values,
                hoverBackgroundColor:'red',
                pointBackgroundColor:'black',
                pointRotation:180,
                borderColor:'#272d47',
              }
          ////////////////////For Pamater Chart End/////////////////
              
          ///////For Pamater Datatable Start////////////////////////
              // console.log(tempchartdata);

              self.table_header=response.data.parameter_name;
              self.chartdata.datasets.push(tempchartdata); 
              self.uniqueKeyForChart++;

              response.data.parameter_values.forEach(function(data){
                self.parameter_table_data.data.push([data.y,data.x]) 
              });      

          //////////////For Pamater Datatable End////////////////////       
              
          });


      })



      /////For Pamater Box Value Start////////////////////////////
      axios.get(this.base_address+"getsingleanalyticsparameterdata",{params:{param_id:this.rows[0].parameter,selected_option:self.selectedOption,selected_period:self.selectedPeriod}}).then((response) => {
        // console.log("boll or yes bill ka nichy data======================================================");
        // console.log(response);
        self.max_param_value=response.data.max;
        self.min_param_value=response.data.min;
        self.avg_param_value=response.data.avg;
        self.no_bool=response.data.no_bool;
        self.yes_bool=response.data.yes_bool;
        self.data_type=response.data.data_type;
        self.total_param_value=response.data.total;
      })
        /////////////For Pamater Box Value End /////////////////////  

        /////////////For Alarm Chart Start /////////////////////      
       var self=this;
       axios.get(this.base_address+"getalarmhistory",{params: {param_id:this.rows[0].parameter,selected_option:self.selectedOption,selected_period:self.selectedPeriod}}).then((response) => {
          var alarm_label=[];
          var alarm_count=[];
          var all_colors=['#ffe0e6','#ffecd9','blue'];
          var colors=[];
          response.data.forEach(function(data,id){
            self.barchartdata.labels.push(data.alarm);
            colors.push(all_colors[id]);
            alarm_count.push(data.count)
          })
          var arr = {label: 'Alarm Frequency',data:alarm_count, backgroundColor:colors};         
          self.barchartdata.datasets.push(arr); 
          self.uniqueKeyForBarChart++;
      })        

        /////////////For Alarm Chart End /////////////////////

        ///////////////////Alarn For Data Table Start ////////
      axios.get(this.base_address+"getalarmhistorydatatable",{params:{param_id:this.rows[0].parameter,selected_option:self.selectedOption,selected_period:self.selectedPeriod}}).then((response) => {
        // console.log(response)
        response.data.forEach(function(data)
        {
          self.alarm_table_data.data.push([data.alarm,data.value]);
        })
          self.loaded=true;  
      }) 
    ///////////////////Alarm For Data Table End /////////////////      

    }     
  },

}
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});


</script>
<style type="text/css">
.box
{
  height: 70%; 
  width: 100%; 
  border: 2px solid #272d47;
  padding: 5%;
  padding-bottom:25%;
  text-align: center;
  margin: 5px;
  background-color: white;
}
h2,h3,h4,h5,h6
{
  color: #272d47;

}
th
{
   color: #272d47;
   text-align: center;
}
  
button, input, optgroup, select, textarea
{
  border: 1px solid #c9c6cc;
  border-radius: 3px;
  padding: 4px;
} 
    
</style>

