<template>
    <div class="container-fluid">
    <h1>Open Workorders</h1>
    <hr class="divider">
    <vue-table-dynamic :params="open_workorders" ref="table"> </vue-table-dynamic>
    </div>
</template>

<script>
  export default {
    mounted() {
            var self=this; 
            axios.get(this.base_address+"getcurrentworkorderlist").then((response) => {
              var data = response.data;
               data.forEach(function(row){
                 var table_data = [row.fault_id,row.instrument_id,row.priority,row.state,row.created_at];
                 self.open_workorders.data.push(table_data);
               });
            })
    },
    data() {
      return {
        open_workorders: {
          data: [
            ['Workorders', 'Instrument', 'Priority','State','Timestamp'],
          ],
          header: 'row',
          border: true,
          stripe: true,
          enableSearch:true,
          sort:[2,3],
          pagination:true,
          pageSize: 3,
        },
        // base_address:'http://159.89.92.248/api/',
        base_address:'http://pepsi.uptimepk.com/api/',
      }  
    },
  }
</script>
<style type="text/css">
  .vue-scrollbar[data-v-b1b8f426]{
    height: 30%;
  }
</style>
